.navbar{
    height: 50px;
    background-color: #002D62;
    display: flex;
    justify-content: center;
}

.container-navbar{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo{
    font-weight: 500;
}

.navItems{
    display: flex;
    justify-content: space-between;
}

.navButtons{
    border-style: none;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: 400;
    color: #003b95;
    cursor: pointer;
}